<head>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-18482781-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-18482781-1');
	</script>
	<meta charset="utf-8">
	<title>{{page.title}}</title>
	<meta name="description" content="I am Malina Randrianavony, an engineer by trade, designer at heart and artist on occasions who believes magic happens at the intersection of functionality, beauty and meaning.">
	<meta name="author" content="Malina Randrianavony">
	<link rel="stylesheet" href="{{ site.github.url }}/assets/css/style.css">
	{% if page.url == "/" %}
		<link rel="stylesheet" href="{{ site.github.url }}/assets/css/logo-transition.css">
	{% endif %}
	<link rel="icon" type="image/png" sizes="32x32" href="{{ site.github.url }}/assets/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ site.github.url }}/assets/images/favicon-16x16.png">
	<link rel="shortcut icon" type="image/x-icon" href="{{ site.github.url }}/assets/images/favicon.ico">
</head>
