@import url('https://fonts.googleapis.com/css?family=Montserrat|Suez+One');

$text-color: #272890;
$contrast-color: #ffa500;
$light-med-color: #000;
$dark-med-color: #000;

$font-sans-serif: 'Montserrat', sans-serif;
$font-serif: 'Suez One', serif;
