---
---
@import 'base';

body {
  color: $text-color;
  font-family: $font-sans-serif;
}

a {
  border-bottom: 2px solid $contrast-color;
  text-decoration: none;
  position: relative;

  &:link, &:visited { color: $text-color; }
  &:hover { color: $contrast-color; }
  &:active {
    display: inline-block;
    transform: translateY(0.2rem);
  }
}

footer {
  margin-top: 10em;

  img { padding: 1em; width: 80px; }
}

h1 {
  font-family: $font-serif;
  font-size: 2.8em;
  margin-top: 0;
}

h2 {
  font-family: $font-serif;
  font-size: 2em;
}

header {
  padding: 0 0 3em 0;
  position: relative;
}

em {
  color: #8e8e8e;
  font-style: unset;
}

.absolute {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

p {
  font-size: 1.4em;
  line-height: 1.4em;
}

section {
  margin-bottom: 4em;
}

.block { display: block; }
.contrast { color: $contrast-color; }
.center { display: block; margin: 0 auto; text-align: center; }
.text-center { text-align: center; }
.hidden { visibility: hidden; }
.font-med { font-size: 1.8em; }
.show-with-transition { visibility: hidden; }

hr {
  background-color: $contrast-color;
  border: none;
  height: 5px;
  margin-bottom: 4em;
}

#content { font-weight: bold; }

#page {
  margin: 1em 2em;
}

@media (max-width: 700px) {
  html { font-size: 12px; }
  header { margin-top: 30px; }
  svg { width: 150px; }
  .mid-center {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
  }
  hr { width: 50%; }
}

@media (min-width: 700px) {
  html { font-size: 14px; }
  header { margin-top: 70px; }
  svg { width: 400px; }
  .mid-center {
    margin: 0 auto;
    margin-bottom: 4em;
    width: 500px;
  }
  h2, p {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    max-width: 800px;
  }
  hr { width: 30%; }
}
